.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    justify-content: space-around;
    flex-flow: row wrap;
    height: 400px;
    align-items: center;
}

.flex-container > div {
    background-color:indianred;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color:green;


}
#div1 {
    background-color:  olive;
    color: black;
    order: 5;
}
#div2 {
    background-color: honeydew;
    color: hotpink;
    flex-grow: 20v ;
    order: 2;

}
#div3 {
    background-color: gainsboro;    color: rgb(65, 21, 21);
    align-self: baseline;
    flex-shrink: 50;
    order: 3;

}
#div4 {
    background-color: rgb(146, 179, 241);
    color: rgb(47, 56, 73);
    flex-basis: 98;
    order: 4;

}
#div5 {
    background-color: rgb(171, 232, 110);
    color: rgb(66, 86, 46);
    order: 1;

}