body {
    background-color: rgb(1, 42, 56);
}
h1 {
    text-align: center;
    color: olive;
}
h3 {
    text-align: center;
    color: olive;
}
h2 {
    text-align: center;
    color: olive;
}

#N1 {
    display: flex;
    flex-grow: 20px;
    background-color: rgb(1, 16, 53);
    

}
#N2 {
    
    background-color: rgb(1, 16, 53);

}

#N3 {
    background-color: rgb(1, 16, 53);

   
}

#N4 {
    background-color: rgb(1, 16, 53);

   
}

#N5 {
    background-color: rgb(1, 16, 53);

   
}

.goober {
    
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 450px;
    align-items: center;
    
   
    
    background: black
    

    

}
.goober > div {
    line-height: 2px;
    border-color: black;
    border:solid 2px;
    padding: 80px;
    text-align: center;
    
    
}


.mem  {
    display: flex;
    align-items: flex-start;


 
 
}

.doober > div {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly

    
}
.doober{
    background:rgb(2, 47, 82);
    height: 440px;
    
    
}
#Image {
width: 800px;
padding-left: 350px;
height:500px

}

.A {
    margin: 10px;
    background: 20;
    padding: 20px;
    border:solid 5px black;
    color: maroon
    
}
.B {
    margin: 10px;
    
    padding: 20px;
    border-radius: 20px;
    border:solid 5px black;
    color: cyan;
}
.C {
    margin: 10px;
   
    padding: 20px;
    border-radius: 20px;
    border:solid 5px black;
    color: gray;
    
}
.D {
    margin: 10px;
   
    padding: 20px;
    border-radius: 20px;
    border:solid 5px black;
    color: darkred;
}

    

#img1{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
}