body {
    background-color: rgb(1, 42, 56);
}
h1 {
    text-align: center;
    color: olive;
}

#N1 {
    display: flex;
    flex-grow: 20px;
    background-color: rgb(1, 16, 53);
    

}
#N2 {
    
    background-color: rgb(1, 16, 53);

}

#N3 {
    background-color: rgb(1, 16, 53);

   
}

#N4 {
    background-color: rgb(1, 16, 53);

   
}

#N5 {
    background-color: rgb(1, 16, 53);

   
}
#N6 {
    background-color: rgb(1, 16, 53);

   
}
#N7 {
    background-color: rgb(1, 16, 53);
    flex-grow: 100px;
    
    

   
}
#N8 {
    background-color: rgb(1, 16, 53);
    flex-grow: 100px;
    
    

   
}

.haz {
    
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 450px;
    align-items: center;
    
   
    
    background: black
    

    

}
.haz > div {
    line-height: 2px;
    border-color: black;
    border:solid 2px;
    padding: 80px;
    text-align: center;
    
    
}


.mem  {
    display: flex;
    align-items: flex-start;


 
 
}

.haz1 > div {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly

    
}
.haz1{
    background:rgb(2, 47, 82);
    height: 560px;
    
    
}
#Image {
width: 800px;
padding-left: 350px;
height:500px

}

.D {
    margin: 10px;
    background: 20;
    padding: 20px;
    border:solid 5px black;
    
    
}
.Du {
    margin: 10px;
    
    padding: 20px;
    border-radius: 8px;
    border:solid 5px black;
    
}
.Dua {
    margin: 10px;
   
    padding: 20px;
    border-radius: 8px;
    border:solid 5px black;
    
}
.Dual {
    margin: 10px;
   
    padding: 20px;
    border-radius: 8px;
    border:solid 5px black;
}
.Duali{
    margin: 10px;
   
    padding: 20px;
    border-radius: 8px;
    border:solid 5px black;
}
.Dualit{
    margin: 10px;
   
    padding: 20px;
    border-radius: 8px;
    border:solid 5px black;
}
.Duality{ 
    margin: 10px;
   
    padding: 20px;
    border-radius: 8px;
    border:solid 5px black;
}





#Image {
    display: flex;
    justify-self: center;
    align-self: center;
}